.App {
    min-height: 100vh;
}
.container {
    margin-top: 20px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: red;
}
.img {
    width: 100px;
    height: 100px;
}
.card {
    margin: 10px 0px;
}
